*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



a{
	text-decoration: none;
}

li{
	list-style: none;
}

header{
	padding-top: 52px;
	padding-bottom: 25px;
}

.side-nav{
	padding: 50px 20px;
	border-right: none;
	display: none;
}

.side-nav ul li{
	padding: 20px 0;
}

.side-nav ul li a{
	text-transform: uppercase;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #8e8e8e;
    display: none;
}

.menu-bar{
	display: none;
}

.header-content{
	text-align: center;
}

.nav{
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
}

.nav ul{
	display: flex;
}

.nav ul li{
	padding: 10px 14px;
}

.nav ul li a{
	text-transform: uppercase;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #8e8e8e;
}


.wsite{
	width: 100%;
	height: 460px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.wsite::before{
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    height: inherit;
    background: rgba(0,0,0,0.1);
    z-index: 1;
}*/

.wsite h4 strong{
	font-size: 50px;
    color: white;
    font-family: "Montserrat" !important;
    font-weight: bold;
}


.wsite-section-content{
	display: flex;
	justify-content: center;
}

.wsite-container{
	width: 960px;
    padding: 4em 1.6em;
    margin: 0 auto;
    box-sizing: border-box;
}

.wsite-container h2{
	margin-bottom: 9px;
	font-size: 30px;
	color: #00599a !important;
	word-wrap: break-word;
	font-family: "Montserrat" !important;
    text-transform: uppercase !important;
    font-weight: 400;
}

.wsite-container h4{
	color: #626262 !important;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

.paragraph{
	margin-bottom: 15px;
	font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #626262;
    /*min-height: 100%;*/
    -webkit-font-smoothing: antialiased;
}

.line{
	width: 100%;
}

.line-h{
	height: 20px;
	width: 100%;
}

.line hr{
	background-color: #d0d0d0;
	width: 100%;
	color: rgba(0,0,0,0.13);
    height: 1px;
        border: 0pt none
}


footer{
	background: #f9f9f9;
	display: flex;
	justify-content: center;
}

.footer-content{
	width: 960px;
    margin: auto;
    padding: 4em 1.6em;
}

.footer-table{
	position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.footer-table tr{
	display: flex;
}

.footer-table td{
	width: 33.3333333367%;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.footer-table td h2{
	color: #00599a !important;
	font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer-table form{
	display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 3%;
    background-color: white;
}

form h6{
	text-align: right;
    font-size: 11px;
    margin-right: 4%;
    background: #fff;
    clear: left;
    font: Helvetica,Arial,sans-serif;
    color: #8E8E8E;
}

form h6 span{
	color: red;
}

form label{
    font-size: 13px;
    background: #fff;
    clear: left;
    font: Helvetica,Arial,sans-serif;
    color: #8E8E8E;
    margin-bottom: 3px;
}

form label span{
	color: red;
}

.input-group{
	display: block;
	margin-right: 10px;
}

.input-group input{
	display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
	margin-bottom: 5px;
	border: 1px solid #ABB0B2;
	border-radius: 3px;
}

form .button{
	clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

.footer-nav{
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer-nav ul{
	display: flex;
}

.footer-nav ul li{
	font-size: 1.35em;
    margin: 0 8px 10px;
    color: #2c59a8;
}

.footer-image{
	padding: 10px 0;
	width: 100%;
}

.footer-image img{
	width: auto;
	max-width: 100%;
}

.dowbload-btn{
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.dowbload-btn a{
	background-color: #2c59a8;
	color: white;
	padding: 8px 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.footer-content .paragraph{
	text-align: center;
}

.footer-content .paragraph h4{
	color: #2c59a8;
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding-left: 5px;
}


@media only screen and (max-width: 992px){

	.main-layout{
		position: relative;
	}

	.side-nav{
		position: absolute;
		width: 0px;
	    margin: 15px 0;
	    height: 100vh;
	    position: absolute;
	    left: 0;
	    top: 0;
	    overflow-y: scroll;
	    overflow-x: visible;
	    padding-right: 10px;
	    transition: 0.5s;
	}

	.main{
		transition: 0.3s;
	    position: absolute;
	    left: 0;
	    /*left: 200px;*/
	    top: 0;
	    overflow-y: scroll;
	    width: 100%;
	    /*width: calc(100% - 200px);*/
	}

	header{
		position: relative;
		padding-top: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid grey;
	}

	.menu-bar{
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.menu-bar i{
		font-size: 40px;
	}

	.main-layout.active .side-nav{
		width: 270px;
		padding-right: 0;
	}

	.main-layout.active .main{
		width: calc(100% - 270px);
		left: 270px;
	}

	header a img{
		margin: 0 !important;
    	max-height: 45px;
    	max-width: 170px;
	}

	.nav{
		display: none;
	}

	.side-nav{
		display: block;
	}

	.side-nav ul li a{
		display: block;
	}
}

@media only screen and (max-width: 768px){
	table tr{
		display: block !important;
	}

	.footer-table tr td{
		width: 100%;
		margin-bottom: 20px;
	}
}